src/pycfftables/__pycache__
src/pycfftables/*.c
src/pycfftables/*.so
src/pycfftables/_lib.html
src/pycfftables.egg-info
test.py
TODO
docs/_build/
docs/_static/
docs/_templates/
docs/modules.rst
docs/pycfftables.rst
docs/.doctrees/